openapi: 3.2.0
info:
  title: Pinata Auth API
  description: Pinata is an IPFS pinning and dedicated-gateway provider.
  version: 3.0.0
  contact:
    name: Pinata Documentation
    url: https://docs.pinata.cloud/api-reference
  license:
    name: Pinata Proprietary
servers:
- url: https://api.pinata.cloud
  description: Pinata core API base URL.
- url: https://uploads.pinata.cloud
  description: Pinata uploads base URL (multipart file upload).
security:
- bearerAuth: []
tags:
- name: Auth
  description: Test API credentials.
paths:
  /data/testAuthentication:
    get:
      tags:
      - Auth
      summary: Test API authentication
      description: 'Validates the Bearer token supplied in the Authorization header by

        returning a fixed success message when the credentials are valid.'
      operationId: testAuthentication
      servers:
      - url: https://api.pinata.cloud
      responses:
        '200':
          description: Credentials are valid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Congratulations! You are communicating with the Pinata API!
        '401':
          description: Invalid credentials.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Pinata JWT issued from the Pinata dashboard.
externalDocs:
  description: Pinata API reference
  url: https://docs.pinata.cloud/api-reference
